body {
    background-color: rgb(137, 182, 174);
    
    font-family: serif;
}

h1{
    display: flex;
    justify-content: center;
    color: darkblue;
    font-size: 50px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search {
    display: flex;
    margin: auto;
}

#input {
    border-radius: 15px;
    margin-right: 5px;
}
#gif-area {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 2vh;
    margin-bottom: 2vh;

}

.show-more {
    display: flex;
    margin: auto;
    padding: 7px;
    justify-content: center;
    background-color: rgb(153, 88, 153);
    color: white;

}
#giffy {
    font-size: 15px;
    margin-right: 5px;
    font-family: Helvetica, sans-serif;
    

}